<div class="post-container">
  <div class="post-text1">
    <span class="pub-title">{{ post.title }}</span>
    <br>
    <span class="pub-authors">{{ post.authors }}</span>
    <br>
    <span class="pub-year">{{ post.journal }}</span>
    <span class="pub-year">{{ post.year }}</span>
    <br>
    <a href="{{ post.pdf }}" target="_blank">
      <img src="{{ site.image_path }}/pdf.png" class="pdf-icon">
    </a>
  </div>
  <div class="image-frame">
    <img src="{{ site.image_path }}/{{ post.image }}" class="post-image">
  </div>
  <br>
  <div class="post-text2">
    <span class="pub-excerpt">{{ post.excerpt | truncate: 300 }}</span>
  </div>
</div>
