<table class="post-table">
  <tr>
    <td width="20%">
      <div class="image-frame">
        <img src="{{ site.image_path }}/{{ post.image }}" class="post-image">
      </div>
    </td>
    <td width="70%">
      <span class="pub-title">{{ post.title }}</span>
      <br>
      <span class="pub-authors">{{ post.authors }}</span>
      <br>
      <span class="pub-year">{{ post.journal }}</span>
      <span class="pub-year">{{ post.year }}</span>
      <br>
      <br>
      <span class="pub-excerpt">{{ post.excerpt | truncate: 300 }}</span>
    </td>
    <td width="10%">
      <a href="{{ post.pdf }}" target="_blank">
        <img src="{{ site.image_path }}/pdf.png" class="pdf-icon">
      </a>
    </td>
    <td>
    </td>
  </tr>
</table>
