.home-container {
  padding-top: 2rem;
}

.home-image-container {
  width: 100%;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.home-image {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  object-fit: cover;
  display: block;
}

.icon-container {
  height: 125px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;

  @include desktoptab {
    max-width: 400px;
  }

  @include mobile {
    max-width: 250px;
  }
}

.icon-container div {
  display: inline-block;

  @include desktoptab {
    width: 55px;
    height: 55px;
  }

  @include mobile {
    width: 40px;
    height: 40px;
  }
}

.icon-container:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}

.topic-container {
  margin-bottom: 2rem;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;

  @include desktoptab {
    max-width: 80%;
  }

  @include mobile {
    max-width: 100%;
  }
}

.topic {
  @include shadow;
  text-align: center;
  height: 250px;
  border-radius: 0.3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  overflow: hidden;
  display: inline-block;

  @include desktoptab {
    width: 250px;
  }

  @include mobile {
    width: 100%;
  }
}

.topic-image {
  width: 100%;
  height: 70%;
  margin-bottom: 0.7rem;
  object-fit: cover;
}

.topic-title {
  font-size: $topic-font-size;
  font-weight: $topic-font-weight;
  margin: 1rem;
}

.topic-container:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}
