// Import SCSS variables
@import "variables";
@import "header";
@import "footer";
@import "post";
@import "pub";
@import "size";
@import "navigation";
@import "code";

//Set basic properties
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: $body-font-family;
  color: $body-text-color;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

a {
  color: $body-link-color;
  text-decoration: none;

  &:hover {
    color: $body-link-hover-color;
    text-decoration: none;
  }
}

.main-content {

  @include desktoptab {
    max-width: 75%;
    padding: 2rem 6rem;
  }
  @include mobile {
    max-width: 100%;
    padding: 2rem 3rem;
  }

  margin: 0 auto;
  font-size: 1.1rem;

  img {
    max-width: 100%;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $heading-color;
    font-weight: $heading-font-weight;

    &:after {
      content: "";
      display: block;
      width: 4rem;
      border-bottom: 2px solid $heading-underline-color;
    }
  }

  h1 {
    color: $h1-color;
    font-weight: $h1-font-weight;

    &:after {
      content: "";
      display: block;
      width: 4rem;
      border-bottom: 3px solid $h1-underline-color;
    }

    @include mobile {
      font-size: $h1-font-size-mobile;
    }

  }

  p {
    margin-bottom: 1em;
  }

  .subtitle {
    color: $blockquote-text-color;
    font-size: 1.1rem;
  }

  ul,
  ol {
    margin-top: 0;
  }

  blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: $blockquote-text-color;
    border-left: 0.3rem solid $border-color;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: $hr-border-color;
    border: 0;
  }
}
