@import "size";

nav {
  background-color: $nav-bg-color;
  padding: 1.0rem 1.0rem;
  overflow: hidden;
  top: 0;
  position: sticky;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: $nav-bg-color;
  overflow: hidden;
  // padding: 1.0rem 1.0rem;

  a {
    float: left;
    display: block;
    color: $nav-link-color;
    text-align: center;
    padding: 0.0rem 1rem;
    text-decoration: none;
    font-size: 17px;
  }

  a:first-child {
    color: #f1e1c9;
    border-right: 1px solid $nav-border-color;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  a:nth-child(2) {
    padding-left: 1.5rem;
  }

  a:hover, .dropdown:hover .dropbtn {
    color: $nav-link-hover-color;
  }

  .icon {
    display: none;
  }

}

@include small {

  .topnav {

    a {
      padding: 0.5rem 1rem;
    }

    a:first-child {
      color: $nav-site-name-color;
      border-right: none;
    }

    a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }

    a.icon {
      float: right;
      display: block;
    }

    &.responsive {
      position: relative;

      a.icon {
        position: absolute;
        right: 0;
        top: 0;
      }

      a {
        float: none;
        display: block;
        text-align: left;
      }

      a:not(:first-child) {
        padding-left: 2rem;
      }

    }

  }

}
