//Post settings
@import "size";

.post-title {
  font-size: 1.2rem;
  text-align: center;
}

.post-frame {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.image-frame {
  overflow: hidden;

  @include large {
    border: solid 1px $border-color;
    border-radius: 0.3rem;
    height: 200px;
    width: 200px;
  }

  @include medium {
    border: solid 1px $border-color;
    border-radius: 0.3rem;
    height: 200px;
    width: 200px;
  }

  @include small {
    border: solid 1px $border-color;
    width: 100%;
    height: 150px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
  }

}

.post-image {

  @include large {
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: transform .5s ease;
    display: block;
    &:hover {
      transform: scale(1.5);
    }
  }

  @include medium {
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: transform .5s ease;
    display: block;
    &:hover {
      transform: scale(1.5);
    }
  }

  @include small {
    width: 50%;
    display: block;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    transform: scale(2);
  }

}

.post-table {
  width: 100%;

  @include large {
    td {
      text-align: left;
      height: 150px;
      padding-right: 2rem;
      vertical-align: top;
    }
  }

  @include medium {
    td {
      text-align: left;
      height: 150px;
      padding-right: 2rem;
      vertical-align: top;
    }
  }

}

.post-link {
  color: $body-text-color;

  &:hover {
    color: $body-text-color;
    text-decoration: none;
  }
}
