//Publication post settings
@mixin pub-font {
  font-family: $pub-font-family;
}

.pub-title {
  @include pub-font
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
}

.pub-authors {
  @include pub-font
  font-size: 1.0rem;
  color: #9e9e9e;
}

.pub-year {
  @include pub-font
  font-size: 1.0rem;
  color: #9e9e9e;
}

.pub-excerpt {
  @include pub-font
  font-size: 1.0rem;
}


.pdf-icon {
  height: 35px;
  width: 33px;

  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: transform .5s ease;

  &:hover {
    transform: scale(1.5);
  }
}
