// Set sceen size limits
@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

.mobile {
    display: none;
}

.tablet {
    display: none;
}

@media screen and (max-width: #{$medium-breakpoint}) {
      .mobile {display: block;}
      .desktop {display: none;}
}

@media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
      .tablet {display: block;}
      .desktop {display: none;}
}
