// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;
$mobile-breakpoint: 50em !default;


// Headers
$header-heading-color: #fff !default;
// $header-bg-color: #159957 !default;
$header-bg-color: #000000 !default;
$header-bg-color-secondary: #155799 !default;
// $header-bg-image: url(/assets/images/lego.jpg);
$header-link-color: #FFFFFF !default;
$header-link-hover-color: #eeafaf !default;

// Navigation
// $nav-font-family: 'Open Sans', sans-serif;
$nav-font-family: Gill Sans, sans-serif;
$nav-font-size: 1.1rem;
$nav-font-weight: 300;
$nav-bg-color: #FFFFFF !default;
$nav-site-name-color: #353535 !default;
$nav-site-font-weight: bold;
$nav-line-color: #dddddd !default;
$nav-link-color: #646464 !default;
$nav-link-hover-color: #eeafaf !default;
$nav-border-color: #dddddd !default;
$nav-border-shadow-color: #f0f0f0 !default;

// Text
$h1-color: #000000 !default;
$h1-font-size-mobile: 1.5rem;
$h1-font-weight: 300;
$h1-underline-color: #db6e6e !default;
$heading-color: #646464 !default;
$heading-font-weight: 300;
$heading-underline-color: #db6e6e !default;

// $body-font-family: 'Roboto', sans-serif;
$body-font-family: Gill Sans, sans-serif;
$body-text-color: #606c71 !default;
$body-link-color: #7394ce !default;
$body-link-hover-color: #a8bbdd !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;
$code-text-color: #FF0000 !default;

// Borders
$border-color: #adacac !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

// Posts
// $post-font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
$post-font-family: Gill Sans, sans-serif;
$post-title-font-weight: 600;
$post-title-color: #000000;
$post-title-font-size: 1.3rem;
$post-title-font-size-mobile: 1.1rem;
$post-font-size: 1rem;
$post-font-size-mobile: 0.7rem;
$post-bg-color: #FFFFFF !default;
$in-post-title-font-weight: 300;
$in-post-title-color: #000000;
$in-post-title-font-size: 2rem;


// Publications
// $pub-font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
$pub-font-family: Gill Sans, sans-serif;
$pub-font-weight: 300;
$pub-author-color: #9e9e9e;
$pub-author-font-size: 1.0rem;
$pub-author-font-size-mobile: 0.9rem;
$pub-year-color: #9e9e9e;
$pub-year-font-size: 1.0rem;
$pub-year-font-size-mobile: 0.9rem;
$pub-excerpt-font-size: 1.0rem;
$pub-excerpt-font-size-mobile: 0.9rem;
