// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
// $header-bg-color: #159957 !default;
$header-bg-color: #000000 !default;
$header-bg-color-secondary: #155799 !default;
// $header-bg-image: url(/assets/images/lego.jpg);
$header-link-color: #FFFFFF !default;
$header-link-hover-color: #eeafaf !default;

// Navigation
$nav-font-family: 'Open Sans', sans-serif;
$nav-font-size: 1.0rem;
$nav-bg-color: #FFFFFF !default;
// $nav-bg-color: #f8f8f8 !default;
// $nav-mobile-bg-color: #f3f6fa !default;
// $nav-site-name-color: #353535 !default;
$nav-site-name-color: #353535 !default;
// $nav-line-color: #353535 !default;
$nav-line-color: #eff0f1 !default;
$nav-link-color: #646464 !default;
// $nav-link-color: #FFFFFF !default;
$nav-link-hover-color: #eeafaf !default;
// $nav-border-color: #f0f0f0 !default;
// $nav-border-shadow-color: #f0f0f0 !default;
$nav-border-color: #eff0f1 !default;
$nav-border-shadow-color: #f0f0f0 !default;

// Text
$section-headings-color: #db6e6e !default;
$body-font-family: 'Roboto', sans-serif;
$body-text-color: #606c71 !default;
$body-link-color: #7394ce !default;
$body-link-hover-color: #a8bbdd !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;
$code-text-color: #FF0000 !default;

// Borders
$border-color: #adacac !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

// Posts
$post-bg-color: #FFFFFF !default;

// Publications
$pub-font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
