---
layout: default
---

{% if page.category == "pub" %}
{% assign filtered_posts = site.posts | where: 'category', page.category %}
{% for post in filtered_posts %}
<br>

<div class="desktop">
  {%- include pub_desktop.html -%}
</div>

<div class="mobile">
  {%- include post_mobile.html -%}
</div>
{% endfor %}
{% endif %}


{% if page.category == "soft" or page.category == "tutor" %}
{% assign filtered_posts = site.posts | where: 'category', page.category | sort %}
{% for post in filtered_posts %}
<br>

<div class="desktop">
  {% if page.category == "soft" %}
    {%- include soft_desktop.html -%}
  {% elsif page.category == "tutor" %}
    {%- include tutor_desktop.html -%}
  {% endif %}
</div>

<div class="mobile">
  {%- include post_mobile.html -%}
</div>
{% endfor %}
{% endif %}
